## Import Libraries

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Import CSV's

In [11]:
calendar = pd.read_csv('/Users/Kevin/gitbasics/introDA/INTRO-TO-DATA-ANALYSIS/AirBnB-/CDMX/calendar.csv.gz')
listings = pd.read_csv('/Users/Kevin/gitbasics/introDA/INTRO-TO-DATA-ANALYSIS/AirBnB-/CDMX/listings.csv')
neighborhoods = pd.read_csv('/Users/Kevin/gitbasics/introDA/INTRO-TO-DATA-ANALYSIS/AirBnB-/CDMX/neighbourhoods.csv')
hoodmap = pd.read_json('/Users/Kevin/gitbasics/introDA/INTRO-TO-DATA-ANALYSIS/AirBnB-/CDMX/neighbourhoods.geojson')
review = pd.read_csv('/Users/Kevin/gitbasics/introDA/INTRO-TO-DATA-ANALYSIS/AirBnB-/CDMX/reviews.csv')
reviewgz = pd.read_csv('/Users/Kevin/gitbasics/introDA/INTRO-TO-DATA-ANALYSIS/AirBnB-/CDMX/reviews.csv.gz')

df1.to_excel("output.xlsx",
             sheet_name='Sheet_name_1')

In [14]:
reviewgz.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,56074,212608709,2017-11-18,72707678,James,I cannot recommend this class enough - Melanie...
1,56074,213040389,2017-11-19,50188342,Jasmine,It was my very first experience on Airbnb and ...
2,56074,213040486,2017-11-19,6625678,Logan,This class was so much fun. Definitely a highl...
3,56074,213716451,2017-11-22,13356954,Jonathan,This was the most fun! Melannie is an artist a...
4,56074,213738399,2017-11-22,15346822,Adam,What a blast and chance to learn a new skill f...